*{
    margin: 0;
    padding: 0;
}

.head_banner {
    gap:10px ; 
    margin: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.head_banner .link {
    display: flex;
    gap: 16px;
    margin-top: 15px;
}

.underline-link {
    position: relative;
}

.underline-link::after {
    content: "";
    position: absolute;
    left: 0;
    top: 32px;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}


.underline-link:hover::after {
    transform: scaleX(1);
}


.head_banner .link a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}


.main-title h1 {
    position: relative;
    color: #fff;
    z-index: 10;
}


.section_content {
    border-radius: 25px; 
    background-clip: padding-box; 
}

.content-title {
    position: relative;
    background-image: url('images/kasa.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 15px;
    padding: 15px;
    height: 80px; 
    border-radius: 25px; 
    overflow: hidden; 
}


.content-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
}


.content {
    margin: 5px;
    padding: 5px;
    background-color: rgba(246, 246, 246, 1);
}


/* --- LE CONTENEUR PRINCIPAL DE LA GALERIE (#gallery) --- */
#gallery {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 35px; 
  padding: 5px;
} 


.product-link{
    position: relative; 
    border-radius: 20px;
    overflow: hidden; 
    min-height: 250px; 
}


/* Styles de l'image */
.card-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  cursor: pointer;
} 


/* Le titre doit être positionné par-dessus l'image */
.img_title {
    position: absolute; 
    bottom: 0;      
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%); 
    color: white;
    padding: 20px 10px 10px; 
    margin: 0; 
    font-size: 1.2rem;
}


.footer_container {
    background-color: #000;
    margin-top: 45px;
    padding: 20px;
    padding-bottom: 50px;
    align-items: center;
}


footer {
    text-align: center;
    position: relative;
    top: 20px;
}


footer p {
    color: white;
    margin-top: 30px;
}


@media screen and (min-width : 768px) { 

.footer_container {
    padding-top: 40px;
}


.head_banner .link {
    gap: 26px;
    margin-right: 20px; 
    margin-top: 10px;
}


.head_banner {
    padding: 30px;
}


.head_banner .link a {
    font-size: 25px;
}


.main-title h1 {
  text-align: center;
  font-size: 3em;
  margin-top: 50px;
}


#gallery {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto; 
  gap: 30px; 
}


.card-image {
    width: 100%; 
}

.content {
    margin-top: 50px; 
}


footer {
    text-align: center;
    position: relative;
    /* top: 70px; */
}


.content-title  {
    height: 160px;
    border-radius: 30px;
}
}